@font-face {
    font-family: Bold;
    src: url(Font/Bold.ttf);
}
@font-face {
    font-family: ExtraBold;
    src: url(Font/ExtraBold.ttf);
}
@font-face {
    font-family: Regular;
    src: url(Font/Regular.ttf);
}
@font-face {
    font-family: Thin;
    src: url(Font/Regular.ttf);
}

h1 {
    font-family: Bold;
    color: #001542;
}

p {
    font-family: Regular;
    color: #001542;

}

* {
	box-sizing: border-box;
}
body {
	font-family: bold;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a {
	color: white;
	font-family: bold;
}

a {
	text-decoration: none;
}

.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: white;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
    background-color: #011640;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}


.card2 {
	background-color: white;
	border-radius: 50px;
    width: 95%;	
	display: inline-block;
}

.right {
	float: right;
	z-index: -10;
	flex-basis: 50%;
	overflow: hidden;
  }
  
.left {
	float: left;
}
  
.center {
	float: center;
}

img {
	border-radius: 50px;
}

.card2 h1 {
	font-size: 700%;
}

button {
	border-radius: 50px;
	border: #00000000;
	font-family: bold;
	font-size: 30px;
	color: white;
	padding: 15px 40px;
	box-shadow: 15px 7px 15px 3px rgba(0,0,0,.8);
	background-color: #011640; 
}
  
.card2 h2 {
	font-size: 200%;
	color: #001542;
}

.card3 {
	background-color: white;
	border-radius: 50px;
    width: 60%;	
	display: inline-block;
}

.card3 h2 {
	font-size: 300%;
	color: #001542;
}

.card3 h1 {
	font-size: 120px;
}

.card3 h3 {
	font-size: 170%;
	color: #001542;
}

.footer {
	background-color: #011640;
	width: 100%;
}

.footer h1 {
	color: white;
	size: 200%;
}

input[type=text] {
	border-radius: 50px;
	border: #00000000;
	font-family: bold;
	font-size: 30px;
	color: white;
	padding: 15px 40px;
	box-shadow: 15px 7px 15px 3px rgba(0,0,0,.8);
	background-color: #011640;
}

