@font-face {
    font-family: Bold;
    src: url(Font/Bold.ttf);
}
@font-face {
    font-family: ExtraBold;
    src: url(Font/ExtraBold.ttf);
}
@font-face {
    font-family: Regular;
    src: url(Font/Regular.ttf);
}
@font-face {
    font-family: Thin;
    src: url(Font/Regular.ttf);
}

h1 {
    font-family: Bold;
    color: white;
}

p {
    font-family: Regular;
    color: white;

}

* {
	box-sizing: border-box;
}
body {
	font-family: bold;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a {
	color: white;
	font-family: bold;
	transition: transform 250ms; 
}

a {
	text-decoration: none;
}

.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: white;
	font-size: .99em;
	transition: transform 250ms; 
}

.main-nav a:hover {
	color: #718daa;
	transform: translateY(-4px);
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
    background-color: #011640;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

input[type=text] {
	border-radius: 50px;
	border: #00000000;
	font-family: bold;
	font-size: 1.5vw;
	color: white;
	padding: 15px 40px;
	box-shadow: 15px 7px 15px 3px rgba(0,0,0,.8);
	background-color: #011640;
}

.background-image {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

button {
	border-radius: 50px;
	border: #00000000;
	font-family: bold;
	padding: 15px;
	font-size: 1.5vw;
	box-shadow: 15px 7px 15px 3px rgba(0,0,0,.8);
	background-color: #011640;
	color: white;
	transition: 250ms; 
}
button:hover {
	transform: scale(1.1);
	background-color: white;
	color: #011640;
}

.bigText {
	font-size: 8vw;
}
h2 {
	color: white;
}

.card {
	width: 90%;
	padding: 15px;
	background-color: #011640;
	border-radius: 20px;
}

.card2 {
	width: 90%;
	padding: 15px;
	background-color: #011640;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.61);
	backdrop-filter: blur(15px);
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);  
}

img {
	border-radius: 20px;
}

body {
	background-color: black;
}

#loading {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	background-color: #011640;
	z-index: 99;
	display: flex;
    justify-content: center;
    align-items: center; 
	transition: 0.5s;
    opacity: 1;    
}
#loading.faded-out {
	opacity: 0;
}

#loading-image {
	max-width: 100%;
	height: auto;
	animation: breathing;
	animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes breathing {
	0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
	
}

iframe {
	width: 70%;
	height: 70vh;
}

/* HTML: <div class="loader"></div> */
.loader {
	width: 50px;
	aspect-ratio: 1;
	display: grid;
	border-radius: 50%;
	background:
	linear-gradient(0deg ,rgb(0 0 0/50%) 30%,#0000 0 70%,rgb(0 0 0/100%) 0) 50%/8% 100%,
	linear-gradient(90deg,rgb(0 0 0/25%) 30%,#0000 0 70%,rgb(0 0 0/75% ) 0) 50%/100% 8%;
	background-repeat: no-repeat;
	animation: l23 1s infinite steps(12);
}
.loader::before,
.loader::after {
	content: "";
	grid-area: 1/1;
	border-radius: 50%;
	background: inherit;
	opacity: 0.915;
	transform: rotate(30deg);
}
.loader::after {
	opacity: 0.83;
	transform: rotate(60deg);
}
@keyframes l23 {
	100% {transform: rotate(1turn)}
}
.bold {
	font-weight: bold;
	font-family: Bold;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media only screen and (max-width: 768px) {
    .main-nav {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
		background-color: rgba(0, 0, 0, 0.61);
		backdrop-filter: blur(15px);
		-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75); 
		z-index: 999999;
        width: 100%;
		height: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .main-nav.active {
        left: 0;
    }

    li {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

	.logo{
		font-size: 1.45em;
		width: 25%;
		display: flex;
		justify-content: center;
		margin: auto;
	}

	input[type=text] {
		border-radius: 50px;
		border: #00000000;
		font-family: bold;
		font-size: 4vw;
		color: white;
		padding: 10px 10px;
		box-shadow: 15px 7px 15px 3px rgba(0,0,0,.8);
		background-color: #011640;
	}

	button {
		border-radius: 50px;
		border: #00000000;
		font-family: bold;
		padding: 10px;
		font-size: 4vw;
		box-shadow: 15px 7px 15px 3px rgba(0,0,0,.8);
		background-color: #011640;
		color: white;
		transition: 250ms; 
	}

	.bigText {
		font-size: 10vw;
	}

	iframe {
		width: 95%;
		height: 25vh;
	}

	h1 {
		font-family: Bold;
		color: white;
		font-size: 6vw;
	}
    
    .card {
	   width: 100%;
	   padding: 15px;
	   background-color: #011640;
	   border-radius: 20px;
     }

    .card2 {
	   width: 100%;
	   padding: 15px;
	   background-color: #011640;
	   border-radius: 20px;
	   background-color: rgba(0, 0, 0, 0.61);
	   backdrop-filter: blur(15px);
	   -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	   -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	   box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);  
    }
	
	

}